/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__input {
  background: #ffff;
}

body {
  background-color: white;
}

p {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}